

<div class="parallax"></div>
<br><br>

<div class="container"
fxLayout
fxLayout.xs="column"

fxLayoutGap="10%"
fxLayoutGap.xs="0">
<mat-card fxFlex="50%">
    <h1 data-aos="flip-right" data-aos-once="false" data-aos-duration="1000" data-aos-delay="100">Nose Surgery</h1>
    <hr class="line">
    <br><br><br>
    <p data-aos="flip-right" data-aos-once="false" data-aos-delay="100" data-aos-duration="1000">
        Nose Surgery include surgical procedures to treat sinus diseases. Advanced endoscopic surgery for sinus and nasal disorders can eliminate the need for external incisions and greater surgical precision. It also include correction of a deviated nasal septum (septoplasty) and for chronic nasal obstruction (congestion).</p>
        </mat-card>
        <mat-card fxFlex="50%" data-aos="flip-left" data-aos-once="false" data-aos-delay="100" data-aos-duration="1000">
            <img src="/assets/image/nosal.jpg">
        </mat-card>
        </div>
        <br><br><br>


        <div class="container"
        fxLayout
        fxLayout.xs="column"
        
        fxLayoutGap="10%"
        fxLayoutGap.xs="0">
        <mat-card fxFlex="100%">
            <h1 data-aos="flip-right" data-aos-once="false" data-aos-duration="1000" data-aos-delay="100" style="text-align:center;">Nasal bone - fracture, reduction & correction
                </h1>
            
            <br><br>
            
            <div class="col-md-2">

            </div>
            <div class="col-md-4"data-aos="fade-right" data-aos-once="false" data-aos-duration="1000" data-aos-delay="100">
                    <img src="/assets/image/nose1.jpg" height="200px" width="200px">
                 
                </div>
                <div class="col-md-4"data-aos="fade-left" data-aos-once="false" data-aos-duration="1000" data-aos-delay="100">
                        <img src="/assets/image/nose2.jpg"height="200px" width="200px">
                        
                    </div>
                    <div class="col-md-2">

                    </div>
            
                </mat-card>
                </div>
        
    <br><br>




