

<div class="parallax"></div>
<br><br>

<div class="container"
fxLayout
fxLayout.xs="column"

fxLayoutGap="10%"
fxLayoutGap.xs="0">
<mat-card fxFlex="50%">
    <h1 data-aos="flip-right" data-aos-once="false" data-aos-duration="1000" data-aos-delay="100">Nose Surgery</h1>
    <hr class="line">
    <br><br><br>
    <p data-aos="flip-right" data-aos-once="false" data-aos-delay="100" data-aos-duration="1000">
        We expertise on dealing with nasal diseases and and nasal surgeries such as:
       <li> Endoscopic Septoplasty</li>
       <li>Endoscopic Sphenopalatine artery ligation</li>
        <li>Nasal bone fracture reduction</li>
        <li>Rhinoplasty</li>
        <li>Surgeries for Snoring and Sleep apnea</li>
        <li>Endoscopic Dacryocystorhinostomy</li>
        <li>Functional Endoscopic Sinus Surgery</li>
        <li>Excision of mass from nasal cavity and PNS</li>
        <li>Endoscopic CSF Rhinorrhea repair</li></p>
        </mat-card>
        <mat-card fxFlex="50%" data-aos="flip-left" data-aos-once="false" data-aos-delay="100" data-aos-duration="1000">
            <img class="nakh" src="/assets/image/nakh1.png">
        </mat-card>
        </div>
        <br><br><br>


        <div class="container"
        fxLayout
        fxLayout.xs="column"
        
        fxLayoutGap="10%"
        fxLayoutGap.xs="0">
        <mat-card fxFlex="100%">
            <h1 data-aos="flip-right" data-aos-once="false" data-aos-duration="1000" data-aos-delay="100" style="text-align:center;">Nasal bone - fracture, reduction & correction
                </h1>
            
            <br><br>
            
            <div class="col-md-2">

            </div>
            <div class="col-md-4"data-aos="fade-right" data-aos-once="false" data-aos-duration="1000" data-aos-delay="100">
                    <img src="/assets/image/nose1.jpg" height="200px" width="200px">
                 
                </div>
                <div class="col-md-4"data-aos="fade-left" data-aos-once="false" data-aos-duration="1000" data-aos-delay="100">
                        <img src="/assets/image/nose2.jpg"height="200px" width="200px">
                        
                    </div>
                    <div class="col-md-2">

                    </div>
            
                </mat-card>
                </div>
        
    <br><br>




