<div>    
  <div style="background-color:steelblue;height:50px;color:white;">
    <h1 class = "title" style="text-align:center">Video Gallery</h1>
    </div> 
    <br>  
    <div class="container"
fxLayout
fxLayout.xs="column"

fxLayoutGap="7%"
fxLayoutGap.xs="5%">
<mat-card class="card1"fxFlex="25%">

<iframe [src]="safeSrc1"  frameborder="0" webkitallowfullscreen mozallowfullscreen
      allowfullscreen></iframe>
    </mat-card>
    <mat-card fxFlex="25%">

        <iframe [src]="safeSrc3"  frameborder="0" webkitallowfullscreen mozallowfullscreen
              allowfullscreen></iframe>
            </mat-card>
            <mat-card fxFlex="25%">

                <iframe [src]="safeSrc4"  frameborder="0" webkitallowfullscreen mozallowfullscreen
                      allowfullscreen></iframe>
                    </mat-card>
                    
                            
                                    </div>
                                    <div class="container"
                                    fxLayout
                                    fxLayout.xs="column"
                                    
                                    fxLayoutGap="7%"
                                    fxLayoutGap.xs="5%">
                                    <mat-card fxFlex="25%">
                                    
                                    <iframe [src]="safeSrc5"  frameborder="0" webkitallowfullscreen mozallowfullscreen
                                          allowfullscreen></iframe>
                                        </mat-card>
                                        <mat-card fxFlex="25%">
                                    
                                            <iframe [src]="safeSrc7"  frameborder="0" webkitallowfullscreen mozallowfullscreen
                                                  allowfullscreen></iframe>
                                                </mat-card>
                                                <mat-card fxFlex="25%">
                                    
                                                    <iframe [src]="safeSrc10"  frameborder="0" webkitallowfullscreen mozallowfullscreen
                                                          allowfullscreen></iframe>
                                                        </mat-card>
                                                        
                                                                
                                                                        </div>
                                                                        <div class="container"
                                                                        fxLayout
                                                                        fxLayout.xs="column"
                                                                        
                                                                        fxLayoutGap="7%"
                                                                        fxLayoutGap.xs="5%">
                                                                        <mat-card fxFlex="25%">
                                                                        
                                                                        <iframe [src]="safeSrc12"  frameborder="0" webkitallowfullscreen mozallowfullscreen
                                                                              allowfullscreen></iframe>
                                                                            </mat-card>
                                                                            <mat-card fxFlex="25%">
                                                                              <iframe [src]="safeSrc"  frameborder="0" webkitallowfullscreen mozallowfullscreen
                                                                              allowfullscreen></iframe>
                                                                        
                                                                                
                                                                                    </mat-card>
                                                                                    <mat-card fxFlex="25%">
                                                                                      <iframe [src]="safeSrc6"  frameborder="0" webkitallowfullscreen mozallowfullscreen
                                                                              allowfullscreen></iframe>
                                                                        
                                                                                        
                                                                                            </mat-card>
                                                                                            
                                                                                                    
                                                                                                            </div>
                                                                                                            <div class="container"
                                                                                                            fxLayout
                                                                                                            fxLayout.xs="column"
                                                                                                            
                                                                                                            fxLayoutGap="7%"
                                                                                                            fxLayoutGap.xs="5%">
                                                                                                            <mat-card fxFlex="25%">
                                                                                                            
                                                                                                            <iframe [src]="safeSrc8"  frameborder="0" webkitallowfullscreen mozallowfullscreen
                                                                                                                  allowfullscreen></iframe>
                                                                                                                </mat-card>
                                                                                                                <mat-card fxFlex="25%">
                                                                                                                  
                                                                                                            
                                                                                                                    
                                                                                                                        </mat-card>
                                                                                                                        <mat-card fxFlex="25%">
                                                                                                                          
                                                                                                                            
                                                                                                                                </mat-card>
                                                                                                                                
                                                                                                                                        
                                                                                                                                                </div>
                                                                                                           
      </div>