<div class="parallax"></div>
<br><br>
<div class="container"
fxLayout
fxLayout.xs="column"

fxLayoutGap="10%"
fxLayoutGap.xs="0">
<mat-card fxFlex="50%">

        <div style="text-decoration:none; overflow:hidden;max-width:100%;width:400px;height:400px;"><div id="mymap-display" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=ent+nepal+butwal&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe></div><a class="googlemap-html" href="https://www.embed-map.com" id="enablemap-data">https://www.embed-map.com</a><style>#mymap-display img{max-width:none!important;background:none!important;font-size: inherit;font-weight:inherit;}</style></div>
<br> <u><b>Vedanta ENT Care Center</b></u>
<br><ngb-rating [rate]="5"></ngb-rating>

</mat-card>
<mat-card fxFlex="50%" data-aos="fade-left" data-aos-once="false" data-aos-duration="1000" data-aos-delay="100">
    <br><br><br><br><br>
    <div class="row">
    <div class="col-md-1">
        <i class="fa fa-map-marker" style="font-size:36px;color:steelblue;"></i>
    </div>
    <div class="col-md-11">
        
        <p style="font-size:2.5vh;font-style:italic;padding-top:2vh;color:gray">Maitri Path, Butwal</p>
    </div>
</div>
<br><br>
<div class="row">
<div class="col-md-1">
        <i class="fa fa-volume-control-phone" style="font-size:36px;color:steelblue;"></i>
</div>
<div class="col-md-11">
        <p style="font-size:2.5vh;font-style:italic;padding-top:2vh;color:gray">+977-9867439783</p>

</div>
</div>
<br><br>
<div class="row">
    <div class="col-md-1">
            <i class="fa fa-envelope" style="font-size:36px ;color:steelblue;"></i>
    </div>
    <div class="col-md-11">
            <p style="font-size:2.5vh;font-style:italic;padding-top:2vh;color:gray;padding-left: 1vh;">entnepal17@gmail.com</p>

    </div>

</div>
</mat-card>
</div>

