<div class="parallax"></div>
<br><br>

<div class="container"
fxLayout
fxLayout.xs="column"

fxLayoutGap="10%"
fxLayoutGap.xs="0">
<mat-card fxFlex="50%">
    <h1 data-aos="flip-right" data-aos-once="false" data-aos-duration="1000" data-aos-delay="100">Throat Surgery</h1>
    <hr class="line">
    <br><br><br>
    <p data-aos="flip-right" data-aos-once="false" data-aos-delay="100" data-aos-duration="1000">
        Throat surgery is a treatment of diseases of oral cavity, throat, vocal cord, and larynx. It will be done with the help of microscope and laser.

</p>
        </mat-card>
        <mat-card fxFlex="50%" data-aos="flip-left" data-aos-once="false" data-aos-delay="100" data-aos-duration="1000">
            <img src="/assets/image/ghati.jpg">
        </mat-card>
        </div>
        <br><br><br>


        <div class="container"
fxLayout
fxLayout.xs="column"

fxLayoutGap="10%"
fxLayoutGap.xs="0">
<mat-card fxFlex="50%">
    <h1 data-aos="flip-right" data-aos-once="false" data-aos-duration="1000" data-aos-delay="100">Indication</h1>
    <hr class="line">
    <br><br><br>
    <p data-aos="flip-right" data-aos-once="false" data-aos-delay="100" data-aos-duration="1000">
        Endoscopic Adenoidectomy through Nasal route (Pain less procedure).
        Phono Surgery(Thyroplasty) - for vocal chord Paralysis
        Phono Microsurgery (Micro flap technique) for vocal chord, cyst, polyp, nodule.</p>
        </mat-card>
        <mat-card fxFlex="50%" data-aos="flip-left" data-aos-once="false" data-aos-delay="100" data-aos-duration="1000">
            
                <div class="col-md-6">
            <img src="/assets/image/throatsurgery1.jpg" height="200px" width="200px">
        </div>
        <div class="col-md-6">
                <img src="/assets/image/throatsurgery2.jpg"height="200px" width="200px">
            </div>

            
            
            
        </mat-card>
        </div>

    <br><br><br>
    <div class="container"
fxLayout
fxLayout.xs="column"

fxLayoutGap="10%"
fxLayoutGap.xs="0">
<mat-card fxFlex="50%">
        <h1 data-aos="flip-right" data-aos-once="false" data-aos-duration="1000" data-aos-delay="100">Cleft lip & palate repair with laser assisted</h1>
        <hr class="line">
        <br><br><br>
        <p data-aos="flip-right" data-aos-once="false" data-aos-delay="100" data-aos-duration="1000">
               <li> Tonsillectomy</li>
               <li> Thyroid swelling</li></p>
            </mat-card>
            <mat-card fxFlex="50%" data-aos="flip-left" data-aos-once="false" data-aos-delay="100" data-aos-duration="1000">
                <div class="row">
                    <div class="col-md-3">
                        </div>
                        <div class="col-md-6">
                        

                            <img src="/assets/image/throat1.jpg" height="200px" width="200px">
                            <br><u><h5 style="text-align: center">Lip palate repair</h5></u>
                        </div>
                        <div class="col-md-3">
                            </div>


                    </div>
                    <br>
                
                <div class="row">
                    <div class="col-md-6">
                            <img src="/assets/image/throat2.jpg" height="200px" width="200px">
                            <br><u><h5 style="text-align: center">Thyroid swelling – before treatment</h5></u>

                    </div>
                    <div class="col-md-6">
                            <img src="/assets/image/throat3.jpg" height="200px" width="200px">
                            <br><u><h5 style="text-align: center">Thyroid swelling – after treatment</h5></u>
                    </div>
                </div>
            </mat-card>
            </div>
            <br><br>

            <div class="container"
            fxLayout
            fxLayout.xs="column"
            
            fxLayoutGap="10%"
            fxLayoutGap.xs="0">
            <mat-card fxFlex="100%">
                <h1 data-aos="flip-right" data-aos-once="false" data-aos-duration="1000" data-aos-delay="100">Surgery for Parotid & Submandibular Salivary gland & duct stone surgery
                    </h1>
                
                <br><br>
                
                <div class="col-md-2">

                </div>
                <div class="col-md-4">
                        <img src="/assets/image/throat4.jpg" height="200px" width="200px">
                        <br><u><h5 style="text-align: center">Salivary gland – before treatment</h5></u>
                    </div>
                    <div class="col-md-4">
                            <img src="/assets/image/throat5.jpg"height="200px" width="200px">
                            <br><u><h5 style="text-align: center">Salivary gland – after treatment</h5></u>
                        </div>
                        <div class="col-md-2">

                        </div>
                
                    </mat-card>
                    </div>
            




