<div class="parallax"></div>
<br><br><br><br>

<div class="container"
fxLayout
fxLayout.xs="column"

fxLayoutGap="10%"
fxLayoutGap.xs="0">
<mat-card fxFlex="50%">
    <h1 data-aos="flip-right" data-aos-once="false" data-aos-duration="1000" data-aos-delay="100">Throat Surgery</h1>
    <hr class="line">
    <br><br><br>
    <p data-aos="flip-right" data-aos-once="false" data-aos-delay="100" data-aos-duration="1000">
        We expertise on dealing with all kind of throat and neck ailments and perform surgeries for the
same such as:
<li>Tonsillectomy</li>
<li>Adenoidectomy</li>
<li>Excision of masses from oral cavity</li>
<li>Carcinoma oral cavity</li>
<li>Microlaryngeal Surgery for vocal polyp</li>
<li>Direct laryngoscopy and Biopsy</li>
<li>Laryngectomy</li>
<li>Excision of Neck masses</li>
<li>Thyroid surgeries</li>
<li>Neck dissection</li>
<li>Parotid surgeries</li>
<li>Submandibular gland excision</li>

</p>
        </mat-card>
        <mat-card fxFlex="50%" data-aos="flip-left" data-aos-once="false" data-aos-delay="100" data-aos-duration="1000">
            <img class="surgery" src="/assets/image/sub.JPG">
        </mat-card>
        </div>
        <br><br><br>


       
            




