.parallax {
    /* The image used */
    background-image: url("https://media.healthdirect.org.au/images/banners/w760h217/girl-opening-mouth-sore-throat_h.jpg");
  
    /* Set a specific height */
    min-height: 400px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
    
    background-color: transparent;
    
  }