<div style="background-color:steelblue;height:50px;color:white;">
<h1 class = "title" style="text-align:center">Our Qualities</h1>
</div>
<br><br><br>

<div class="container"
fxLayout
fxLayout.xs="column"

fxLayoutGap="10%"
fxLayoutGap.xs="5%">
<div class="flip-card" fxFlex="27%">
    
        

    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="/assets/image/suman.png" alt="Avatar" style="width:300px;height:300px;">
      </div>
      <div class="flip-card-back">
        <h2>Trustable</h2> 
        <br><br>
        <p>Fully trustable doctor dealing with diffrent types of problems of ear,nose,throat.</p> 
        
      </div>
      
    </div>
  
  
  
  </div>
  <div class="flip-card" fxFlex="27%">
    
        

    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="/assets/image/doctor.jpg" alt="Avatar" style="width:300px;height:300px;">
      </div>
      <div class="flip-card-back">
        <h2>Experienced Medical Professionals</h2> 
        <p>ENT Nepal offers broad array of services geared to address today’s most common emergency and non-emergency ENT illnesses and injuries. We are focused on proper diagnosis and management of the patients and giving them the best care with the motto of “PATIENT FIRST” always. </p> 
        
      </div>
      
    </div>
  
  
  
  </div>
  <div class="flip-card" fxFlex="27%">
    
        

    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="/assets/image/IMG_1919.JPG" alt="Avatar" style="width:300px;height:300px;">
      </div>
      <div class="flip-card-back">
        <h2>Friendly and Caring</h2> 
        <p>Children have a hard time seeing doctors because they feel intimidated by the professional setting. Consequently, you should seek out pediatric ear, nose and throat doctors that are very friendly and talkative. They should be able to sit down and chat with your children about things other than the procedures. </p> 
        
      </div>
      
    </div>
  
  
  
  </div>
  </div>

  <br><br><br><br><br><br><hr><br><br><br>

  

  <div class="container"
  fxLayout
  fxLayout.xs="column"
  
  fxLayoutGap="10%"
  fxLayoutGap.xs="0">
  <mat-card fxFlex="50%">
      <h1 data-aos="fade-right" data-aos-once="false" data-aos-duration="1000" data-aos-delay="100">Ear Diseases</h1>
      <hr class="line1">
      <br><br>
      <p data-aos="fade-right" data-aos-once="false" data-aos-delay="100" data-aos-duration="1000">Diagnosis and treatment regarding:

        Ear infections, Hearing Loss, Tinnitus, Vertigo, Foreign Body Ear, Ear wax, Ear pain, Ear itching.
        
        Hearing Test , Hearing Aid
        
        Surgeries: Endoscopic and microscopic ear surgeries
        
        Mastoid surgeries

        
  
          </p>
          </mat-card>
          <mat-card fxFlex="50%">
              <img class="image" src="/assets/image/ear.jfif">
          </mat-card>
          </div>
          <br><br><br><br>
  <div class="container"
fxLayout
fxLayout.xs="column"

fxLayoutGap="10%"
fxLayoutGap.xs="0">
<mat-card fxFlex="50%">
    <h1 data-aos="fade-right" data-aos-once="false" data-aos-duration="1000" data-aos-delay="100">Nasal Diseases</h1>
    <hr class="line">
    <br><br>
    <p data-aos="fade-right" data-aos-once="false" data-aos-delay="100" data-aos-duration="1000">Diagnosis and treatment  of all nasal conditions such as Nasal discharge, Nasal blockage, Difficulty in breathing through nose, Nasal bleeding, Inability to appreciate smell, Sinusitis, Nasal Polyp, Nasal bone fracture, Nasal cancer.

        Surgeries:
        
        Endoscopic Sinus surgeries (FESS) 
        
        Endoscopic septoplasty
        
        Endoscopic Surgeries for Epistaxis
        
        Endoscopic DCR
        
        Rhinoplasty for external nasal deformities</p>
        </mat-card>
        <mat-card fxFlex="50%">
            <img class="image" src="/assets/image/nasal.jpg">
        </mat-card>
        </div>
        <br><br><br><br>

        <div class="container"
        fxLayout
        fxLayout.xs="column"
        
        fxLayoutGap="10%"
        fxLayoutGap.xs="0">
        <mat-card fxFlex="50%">
            <h1 data-aos="fade-right" data-aos-once="false" data-aos-duration="1000" data-aos-delay="100">Throat Diseases</h1>
            <hr class="line">
            <br><br>
            <p data-aos="fade-right" data-aos-once="false" data-aos-delay="100" data-aos-duration="1000">Diagnosis and treatment of all pharynx, larynx, neck , sleep disorders (snoring) and thyroid disorders.

              Surgeries:
              
              Tonsillectomy
              
              Adenoidectomy
              
              MLS for vocal polyp
              
              Neck mass surgeries
              
              Laryngectomy
              
              Neck dissection
              
              Neck cancer surgeries
              
              Thyroid surgeries
              
              Parotid Surgeries
              
              Submandibular Gland excision
        
                </p>
                </mat-card>
                <mat-card fxFlex="50%">
                    <img class="image" src="/assets/image/neck.jpg">
                </mat-card>
                </div>
                <br><br><br><br>

                
                <br><br><br><br><br><br>
                
                
               
                
                


                
                

              
                
               

                

                

                

                





  