<ng2-slim-loading-bar color="#347deb"></ng2-slim-loading-bar>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a routerLink="home"> <img class="icon" src="/assets/image/unnamed.jpg"height="50px" width="50px"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="home">Home</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Services</a>
          <ul class="dropdown-menu">
            <li><a routerLink="services/ear">Ear</a></li>
            <li><a routerLink="services/nose">Nose</a></li>
            <li><a routerLink="services/throat">Throat</a></li>
            <li><a routerLink="services/endoscopy">Endoscopy</a></li>
            <li><a routerLink="services/audiology">Audiology</a></li>
          </ul>
        </li>
        <li><a routerLink="myprofile">Know your doctor</a></li>
        <li><a routerLink="blog">My blog</a></li>
        <li><a routerLink="appointment">Make an appointment</a></li>
        <li><a routerLink="contactme">Contact me</a></li>
      </ul>
    
    </div>
  </div>
</nav>
<router-outlet></router-outlet>



  

<app-carousal *ngIf="router.url=='/'"></app-carousal>

<app-flip *ngIf="router.url=='/'"></app-flip>

<app-imagegallery *ngIf="router.url=='/'"></app-imagegallery>




<app-video *ngIf="router.url=='/'"></app-video>
<br>

<footer class="page-footer font-small unique-color-dark" style="color:white">

    <div>
      <div class="container">
  
        <!-- Grid row-->
        <div class="row py-4 d-flex align-items-center">
          <br><br>
  
          <!-- Grid column -->
          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
            <h6 class="mb-0">Get connected with me on social networks!</h6>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-6 col-lg-7 text-center text-md-right">
  
            <!-- Facebook -->
            <a href="https://www.facebook.com/entbutwal" target="_blank"> <i class="fa fa-facebook-official" style="font-size:36px;color:#fff;"></i></a>
            
            <!-- Twitter -->
            
           
            <!--Linkedin -->
            <a href="https://www.linkedin.com/in/dr-suman-paudel-2a5a80129" target="_blank">  <i class="fa fa-linkedin-square" style="font-size:36px;padding-left:5vh;color:white;"></i></a>
            <!--Instagram-->
            <a href="https://www.youtube.com/channel/UCmsicjdMLspOsCQgHWwiU1w" target="_blank">  <i class="fa fa-youtube" style="font-size:36px;padding-left:5vh;color:white;"></i></a>
  
          </div>
          <!-- Grid column -->
  
        </div>
        <!-- Grid row-->
  
      </div>
    </div>
    <br>
  
    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">
  
      <!-- Grid row -->
      <div class="row mt-3">
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
  
          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold">Place served by Dr.Suman Paudel</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>Vedanta ENT Care Center</p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Services</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a routerLink="services/ear" style="color:white;">Ear</a>
          </p>
          <p>
            <a routerLink="services/nose" style="color:white;">Nose</a>
          </p>
          <p>
            <a routerLink="services/throat" style="color:white;">Throat</a>
          </p>
          
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Useful links</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a routerLink="myprofile" style="color:white;">Know Your Doctor</a>
          </p>
          <p>
            <a routerLink="appointment" style="color:white;">Make an Appointment</a>
          </p>
          <p>
              <a routerLink="blog" style="color:white;">My blog</a>
            </p>
          <p>
            <a routerLink="contactme" style="color:white;">Contact me</a>
          </p>
   
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Get in touch</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fas fa-home mr-3"></i> Butwal,Nepal</p>
          <p>
            <i class="fas fa-envelope mr-3"></i> entnepal17@gmail.com</p>
          <p>
            <i class="fas fa-phone mr-3"></i> + 977-9857075922</p>
         
  
        </div>
        <!-- Grid column -->

  
      </div>
      <!-- Grid row -->
  
    </div>
    <div>
      <a mat-raised-button href="https://www.google.com/maps/place/ENT+Nepal+(Dr.+Suman+Paudel)/@27.6971295,83.4640886,17z/data=!4m7!3m6!1s0x39968763d5ac42d5:0x7738ce0eac2965c3!8m2!3d27.6971295!4d83.4662773!9m1!1b1" target="_blank" style="color:white;font-size: large; padding-left: 20vh;">View all reviews</a>
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <br>
    <div class="footer-copyright text-center py-3" style="background-color:#262626;height:40px; padding-top:2vh;text-align:end">@Developed by Subash Paudel
      
    </div>
    <!-- Copyright -->

    
  
  </footer>
