.container-fluid{
    background-color:#333333;
    
}
.radius{
    border-radius: 25px;
}
.icon{
    border-radius: 50%;
}
.page-footer{
    background-color:#333333;

}


.dropdown:hover .dropdown-menu {display: block;}

