

<div class="parallax"></div>
<br><br>

<div class="container"
fxLayout
fxLayout.xs="column"

fxLayoutGap="10%"
fxLayoutGap.xs="0">
<mat-card fxFlex="50%">
    <h1 data-aos="flip-right" data-aos-once="false" data-aos-duration="1000" data-aos-delay="100">Ear Surgery</h1>
    <hr class="line">
    <br><br><br>
    <p data-aos="flip-right" data-aos-once="false" data-aos-delay="100" data-aos-duration="1000">
        Ear surgery is the treatment of diseases, injuries, or deformations of the ear by operation with instruments. In some cases surgery is the only treatment to treat diseases, injuries or deformities of the ear's auditory tube, middle ear, inner ear, and auditory and vestibular systems.</p>
        </mat-card>
        <mat-card fxFlex="50%" data-aos="flip-left" data-aos-once="false" data-aos-delay="100" data-aos-duration="1000">
            <img src="/assets/image/kaan.jpg">
        </mat-card>
        </div>
        <br><br><br>


        <div class="container"
fxLayout
fxLayout.xs="column"

fxLayoutGap="10%"
fxLayoutGap.xs="0">
<mat-card fxFlex="50%">
    <h1 data-aos="flip-right" data-aos-once="false" data-aos-duration="1000" data-aos-delay="100">Mastoidectomy with Tympanoplasty with ossiculoplasty (titanium/cartilage)</h1>
    <hr class="line">
    <br><br><br>
    <p data-aos="flip-right" data-aos-once="false" data-aos-delay="100" data-aos-duration="1000">
       <li> Repair of external and middle ear congenital anomaly</li>
        <li>Bone Anchored Hearing Ald</li>
       <li> C.S.F. otorrhoea</li>
      <li>  Surgery of Meniere's disease</li>
       <li> Myringotomy with Gromet for otites media with Effusion</li></p>
        </mat-card>
        <mat-card fxFlex="50%" data-aos="flip-left" data-aos-once="false" data-aos-delay="100" data-aos-duration="1000">
            <div class="row">
                <div class="col-md-6">
            <img src="/assets/image/mastoi1.jpg" height="200px" width="200px">
        </div>
        <div class="col-md-6">
                <img src="/assets/image/mastoi2.jpg"height="200px" width="200px">
            </div>

            </div>
            <br>
            <div class="row">
                    <div class="col-md-6">
                <img src="/assets/image/mastoi3.jpg"height="200px" width="200px">
            </div>
            <div class="col-md-6">
                    <img src="/assets/image/mastoi4.jpg"height="200px" width="200px">
                </div>
    
                </div>
            
        </mat-card>
        </div>

    <br><br>




