

<div class="parallax"></div>
<br><br><br><br>

<div class="container"
fxLayout
fxLayout.xs="column"

fxLayoutGap="10%"
fxLayoutGap.xs="0">
<mat-card fxFlex="50%">
    <h1 data-aos="flip-right" data-aos-once="false" data-aos-duration="1000" data-aos-delay="100">Ear Surgery</h1>
    <hr class="line">
    <br><br><br>
    <p data-aos="flip-right" data-aos-once="false" data-aos-delay="100" data-aos-duration="1000">
        We expertise on all ear surgeries by both microscopic and endoscopic means such as:
      <li> Myringoplasty</li> 
      <li> Tympanoplasty</li> 
        <li> Ossiculoplasty</li> 
            <li>Canaloplasty</li> 
                <li>Myringotomy and Ventilation tube insertion</li> 
                    <li>Mastoid surgeries</li> 
                        <li>Stapedotomy</li> 
                            <li>Excision of mass from EAC and middle ear</li> 
                                <li>Repair of Injuries and deformities of Pinna and External auditory canal.</li> 
                                   
        </mat-card>
        <mat-card fxFlex="50%" data-aos="flip-left" data-aos-once="false" data-aos-delay="100" data-aos-duration="1000">
            <img class="kan" src="/assets/image/kan.jpg">
        </mat-card>
        </div>
        <br><br><br>


        




