<div class="header">
    <h1 style="text-align:center;background-color:steelblue;color:white;height:50px;">My Blogs</h1>
      </div>
      
      <div class="row">
        <div class="leftcolumn">
          <div class="card">
            <h2>NASAL OBSTRUCTION</h2>
            <h5> Dec 26, 2019</h5>
            
                    <img class="image" src="/assets/image/blog1.jpg">
            
            
            <p style="font-family: 'Times New Roman', Times, serif"><b style="font-size:10vh;font-style:oblique">N</b>asal obstruction refers to some blockage of the nose or nasal cavity and can be caused by a wide variety of problems. There are several common causes of nasal obstruction:

                   <li> Inferior turbinate hypertrophy</li>
                   <li> On the inside of the nose there are normal bony structures called turbinates. They are covered by a large amount of spongy mucosa (the pink lining inside the nose). The turbinates are very susceptible to allergy and dust irritation. If they become swollen, it can be difficult to breathe through the nose.</li>
                   <li> Deviated nasal septum
                    <li>The septum is the structure separating the nostrils inside the nose. A deviated nasal septum is a crooked septum. Symptoms may include difficulty breathing through the nose (especially on one side), and a runny nose. A deviated nasal septum may be caused by trauma to the nose.</li>
                    <li>Foreign bodies in the nose</li>
                   <li> Large adenoids – which block the back of the nose</li>
                   <li> Swelling of the lining of the nose from allergies</li>
                   <li> Choanal atresia</li>
                   <li> This is a congenital (present at birth) condition that is a narrowing or blockage of the nasal airway by tissue.</li>
                    <li>Pyriform aperture stenosis</li></p>

                    <h2>Diagnosis</h2>
                    <p style="font-family: 'Times New Roman', Times, serif">Your doctor will ask for a complete medical history and will perform a thorough physical examination. We perform nasal examination with lighted scopes and may use imaging, including CT scans and MRIs, when necessary. We may recommend an allergy evaluation.

                        </p>
                        <h2>Treatment</h2>
                        <p style="font-family: 'Times New Roman', Times, serif">Nasal obstruction is often initially treated with medications, some of which may address underlying allergy or other reversible causes of nasal swelling. Your doctor may prescribe a nasal steroid spray to decrease inflammation of the nose and turbinates. Surgery to shrink the turbinates may be required if there is no improvement with medications. There are several new surgical techniques that can be used to shrink turbinates, including use of radiofrequency energy or a small tissue-shaving device.

                                Your doctor may recommend having your adenoids removed if they are the cause of the nasal obstruction.</p>



          </div>
          
          
          
        </div>
        <div class="rightcolumn">
          <div class="card">
            <h2 style="text-align:center">About Me</h2>
            <img class="image" src="/assets/image/profile.jpeg">
            <br><br>
            <p style="font-family: 'Times New Roman', Times, serif">Dr Suman Paudel is a fully accredited ENT / Head and Neck Surgeon. He qualified from the prestigious Post Graduate Institute of Medical  education and Research in Chandigarh, India.He has been associated with Society of Otolaryngologists of Nepal since 2017.</p>
          </div>
          <div class="card">
            <h3 style="text-align:center">Popular Post</h3>
            <img class="image" src="/assets/image/nakangati.png">
            
           
          </div>
          <div class="card">
            <h3 style="text-align:center">Follow Me</h3>
            <a href="https://www.facebook.com/entbutwal" target="_blank"> <i class="fa fa-facebook-official" style="font-size:36px;color:blue;padding-left:17vh;"></i></a>
            <a href="https://www.youtube.com/channel/UCmsicjdMLspOsCQgHWwiU1w" target="_blank">  <i class="fa fa-youtube-square" style="font-size:36px;padding-left:2vh;color:red;"></i></a>
          </div>
        </div>
      </div>