
<div class="parallax"></div>
<br><br>

<div style="background-color:steelblue;height:50px;padding-top: 0.5vh;">
  <h1 class = "title" style="text-align:center;color:white">Audiology Department</h1>
  </div> 
<br>
<div class="card">
  <img src="/assets/image/jaylal.jpg" alt="John" style="width:100%">
  <h1 class="tit" style="text-align:center">Mr.Jaylal Prasad Yadav</h1>
  <p class="title" style="text-align:center">Audilogy Specialist(Visiting Faculty)</p>
  <p>Mr. Jaylal prasad yadav completed his Bachelors and
    Master’s degree in the field of Audiology and Speech
    Language Pathology from Dr. M.V. Shetty College of
    Speech and Hearing, Mangalore University.
    He is currently working as senior lecturer (Non-
    medical),Audiologist and Speech-Language
    Pathologist in Chitwan medical collage teaching
    hospital.<br>
    He has served as the clinical Director of Aawaz
    hearing and speech care center Bharatpur 10
    Chitwan.<br>
    His vast set of skills include assessing ,
    diagnosing and managing different age group
    population with hearing and balance related
    problems ,speech-language, communication and
    swallowing related problems. He is competent in
    using different audiological and speech-
    language test battery used clinically for
    screening and diagnostic purpose. He is
    specialized in using different audiological
    instrument like Pure tone audiometry, speech
    audiometry, immittance audiometry and oto-
    acoustic emissions (OAEs) and also REELS, 3-
    
    DLAT,CARS and other test material used for
    diagnosing speech and language problems.
    He has also been involved in assessing
    candidacy for middle ear implant and Cochlear
    implant and also accomplished in completing
    initial activations, follow-up programming, and
    performance testing, and troubleshooting for
    Cochlear and Med-El devices.<br>
    
    He provides hearing aid consultations,
    selections, fittings and programming and
    troubleshooting of both analog and digital
    hearing aid.
    He has also participated in hearing screening of
    different industrial workers and counseled them
    about noise hazards on health and also
    participated in screening of speech and
    language related issue in children in different
    school.<br>
    Mr. Jaylal Prasad Yadav also perform evaluation
    of patients with electrophysiological measures
    including auditory brainstem response (ABR)
    testing as well as vestibular evoked myogenic
    potential (VEMP) testing. He is proficient in
    
    Universal Hearing Screening protocols as well
    as with testing newborn children through
    screening and threshold ABR tests.  
    
  
</div>