.parallax {
    /* The image used */
    background-image: url("https://www.hopkinsmedicine.org/-/media/images/health/2_-treatment/gastroenterology/endoscope-light-hero.ashx?h=500&la=en&mh=500&mw=1300&w=1297&hash=B99C25D36E058C4221F674CDFCEA3C52A1DEFE27");
  
    /* Set a specific height */
    min-height: 400px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    z-index: -2;
    
    background-color: transparent;
    
  }
  .surgery{
    width: 350px;
    height: 330px;
  }
  @media screen and (max-width: 768px) {
    .parallax {
      background-attachment: inherit;
    }
  }